@model IEnumerable<MaintInfoBo.Modele>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.designation_modele)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tarifID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.typeModeleID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.designation_modele)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tarifID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.typeModeleID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.modeleID }) |
            @Html.ActionLink("Details", "Details", new { id=item.modeleID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.modeleID })
        </td>
    </tr>
}

</table>
