@model IEnumerable<MaintInfoBo.Modele>

@{
    ViewBag.Title = "Index";
}

<h2>Liste des modèles :</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Désignation")
        </th>
        <th>
            @Html.DisplayName("Tarif")
        </th>
        <th>
            @Html.DisplayName("Type de Modèle")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.designation_modele)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tarifID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.leType.designation_type)
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Retour à l'accueil", "Index", "Home")
</div>
