@model IEnumerable<MaintInfoBo.Tarif>

@{
    ViewBag.Title = "Index";
}

<h2>Liste des tarifs :</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Date du tarif")
        </th>
        <th>
            @Html.DisplayName("Montant")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.date_tarif)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.montant_tarif)
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Retour à l'accueil", "Index", "Home")
</div>
