@model IEnumerable<MaintInfoBo.CentreInformatique>

@{
    ViewBag.Title = "Index";
}

<h2>Liste des centres informatique :</h2>

<p>
    @Ajax.ActionLink("Créer nouveau centre informatique", "Create",
        new AjaxOptions { UpdateTargetId = "affct", InsertionMode = InsertionMode.Replace })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Adresse")
        </th>
        <th>
            @Html.DisplayName("Code postal")
        </th>
        <th>
            @Html.DisplayName("Ville")
        </th>
        <th>
            @Html.DisplayName("Téléphone")
        </th>
        <th>
            @Html.DisplayName("ClientID")
        </th>
        <th>
            @Html.DisplayName("SecteurID")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.adresse_centre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cp_centre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ville_centre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tel_centre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.clientID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.secteurID)
        </td>
        <td>
            @Ajax.ActionLink("Modifier", "Edit",
                new { id = item.centreInformatiqueID },
                new AjaxOptions { UpdateTargetId = "affct", InsertionMode = InsertionMode.Replace })
        </td>
    </tr>
}

</table>
<div id="affct"></div>