@model IEnumerable<MaintInfoBo.Equipement>

@{
    ViewBag.Title = "Index";
}

<h2>Liste des équipements :</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Numéro de Série")
        </th>
        <th>
            @Html.DisplayName("Planification")
        </th>
        <th>
            @Html.DisplayName("Contrat")
        </th>
        <th>
            @Html.DisplayName("Modèle")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.num_serie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.planification)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.leContrat.contratID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.leModele.designation_modele)
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Retour à l'accueil", "Index", "Home")
</div>
