@model MaintInfoBo.Contrat

<div>
    <h4>Contrat du centre informatique : @ViewBag.AdresseCentreInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Montant :")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.montant_contrat)
        </dd>

        <dt>
            @Html.DisplayName("Statut :")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.statut) @ViewBag.leStatut
        </dd>

        <dt>
            @Html.DisplayName("Commentaire :")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.commentaire)
        </dd>

        <dt>
            @Html.DisplayName("Date de création :")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_creation)
        </dd>

        <dt>
            @Html.DisplayName("Date d'échéance :")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_echeance)
        </dd>

        @if (Model.statut == 3)
        {
            <dt>
                @Html.DisplayName("Date de résiliation :")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.date_resiliation)
            </dd>
        }
        
    </dl>
</div>
<p>
    @if (Model.statut == 1 || Model.statut == 2)
    {
        @Html.ActionLink("Renouveller | ", "RenouvellerContrat", new { id = Model.contratID },
            new { onclick = "return confirm('Etes-vous sûr?');" }) 

        @Html.ActionLink("Résilier | ", "ResilierContrat", new { id = Model.contratID },
            new { onclick = "return confirm('Etes-vous sûr?');" }) 
    }
    
    @Html.ActionLink("Annuler", "Index")
</p>
