@model MaintInfoBo.Contrat

<div>
    <h4>Contrat du client :</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.montant_contrat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.montant_contrat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.statut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.statut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.commentaire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.commentaire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_creation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_creation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_echeance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_echeance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_resiliation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_resiliation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.centreInformatiqueID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.centreInformatiqueID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.contratID }) |
    @Html.ActionLink("Annuler", "Index")
</p>
