@model IEnumerable<MaintInfoBo.Client>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nom_client)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adresse_client)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cp_client)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ville_client)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tel_client)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nom_client)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.adresse_client)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cp_client)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ville_client)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tel_client)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.clientID }) |
            @Html.ActionLink("Details", "Details", new { id=item.clientID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.clientID })
        </td>
        <td>
            @Ajax.ActionLink("Afficher Centres informatique", "AfficherCentreParID", "CentreInformatique",
                   new { id = item.clientID },
                   new AjaxOptions { UpdateTargetId = "affct", InsertionMode = InsertionMode.Replace })
    </td>

    </tr>
}

</table>
<div id="affct"></div>
