@model IEnumerable<MaintInfoBo.Client>

@{
    ViewBag.Title = "Index";
}

<h2>Liste des clients :</h2>

<p>
    @Ajax.ActionLink("Créer nouveau client", "Create", 
        new AjaxOptions { UpdateTargetId = "affct", InsertionMode = InsertionMode.Replace })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Raison sociale")
        </th>
        <th>
            @Html.DisplayName("Adresse")
        </th>
        <th>
            @Html.DisplayName("Code postal")
        </th>
        <th>
            @Html.DisplayName("Ville")
        </th>
        <th>
            @Html.DisplayName("Téléphone")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nom_client)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.adresse_client)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cp_client)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ville_client)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tel_client)
        </td>
        <td>
            @Ajax.ActionLink("Modifier", "Edit", 
                new { id=item.clientID },
                new AjaxOptions { UpdateTargetId = "affct", InsertionMode = InsertionMode.Replace }) |

            @Ajax.ActionLink("Afficher Centres informatique", "Details", 
                new { id = item.clientID },
                new AjaxOptions { UpdateTargetId = "affct", InsertionMode = InsertionMode.Replace })
        </td>
    </tr>
}   
</table>
<div id="affct"></div>

<div>
    @Html.ActionLink("Retour à l'accueil", "Index", "Home")
</div>
