@model IEnumerable<MaintInfoBo.Contrat>

@{
    ViewBag.Title = "Index";
}

<h2>Liste des contrats :</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Montant")
        </th>
        <th>
            @Html.DisplayName("Statut")
        </th>
        <th>
            @Html.DisplayName("Commentaire")
        </th>
        <th>
            @Html.DisplayName("Date de creation")
        </th>
        <th>
            @Html.DisplayName("Date d'échéance")
        </th>
        <th>
            @Html.DisplayName("Date de résiliation")
        </th>
        <th>
            @Html.DisplayName("Centre informatique")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.montant_contrat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.statut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.commentaire)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_creation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_echeance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_resiliation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.leCentre.adresse_centre)
        </td>
    </tr>
}

</table>
<div id="affct"></div>

<div>
    @Html.ActionLink("Retour à l'accueil", "Index", "Home")
</div>
