@model IEnumerable<MaintInfoBo.Contrat>

@{
    ViewBag.Title = "Index";
}

<h2>Liste des contrats :</h2>

<p>
    @Ajax.ActionLink("Créer nouveau contrat", "Create",
        new AjaxOptions { UpdateTargetId = "affct", InsertionMode = InsertionMode.Replace })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Montant")
        </th>
        <th>
            @Html.DisplayName("Statut")
        </th>
        <th>
            @Html.DisplayName("Commentaire")
        </th>
        <th>
            @Html.DisplayName("Date de creation")
        </th>
        <th>
            @Html.DisplayName("Date d'échéance")
        </th>
        <th>
            @Html.DisplayName("Date de résiliation")
        </th>
        <th>
            @Html.DisplayName("ID du centre informatique")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.montant_contrat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.statut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.commentaire)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_creation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_echeance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_resiliation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.centreInformatiqueID)
        </td>
        <td>
            @Ajax.ActionLink("Modifier", "Edit",
                new { id = item.centreInformatiqueID },
                new AjaxOptions { UpdateTargetId = "affct", InsertionMode = InsertionMode.Replace })|
            @Html.ActionLink("Details", "Details", new { id=item.contratID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.contratID })
        </td>
    </tr>
}

</table>
<div id="affct"></div>
